.popup {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s;
  background: rgba(20, 22, 24, 0.4);

  &._is-open {
    opacity: 1;
    z-index: 9999;
  }

  &.size-popup {
    .popup-wrapper {
      width: 700px;
      height: 880px;

      @include media(1650) {
        height: 600px;
      }

      @include media(1350) {
        height: 800px;
      }

      @include media(700) {
        height: 80%;
      }
    }

    .popup-content {
      gap: 60px;
    }
  }


  &.payment-popup {
    .popup-wrapper {
      height: 329px;

      @include media(700) {
        height: auto;
      }
    }

    .popup-content {
      gap: 32px;
    }

    .payment-popup__price {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      &-item {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        justify-content: center;

        &.active {
          .popup__text {
            color: #000;
            border-bottom: 2px solid #000;
          }

          .popup__text_price {
            color: #000;
          }

        }

        .popup__text {
          padding-bottom: 12px;
          border-bottom: 2px solid #909090;
        }

        .popup__text_price {
          font-weight: 500;
          font-size: 14px;
          text-transform: uppercase;
          text-align: center;
          color: #909090;
        }
      }
    }
  }

  &-wrapper {
    background: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    width: 700px;

    @include media(700) {
      width: 90%;
      padding: 20px;
    }
  }

  .close-popup {
    align-self: flex-end;
    margin-top: -20px;
    margin-right: -20px;
    cursor: pointer;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 60px;

    &__img-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 42px;
    }
  }

  &__table-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
  }

  .table-sizes th,
  .table-sizes td {
    padding: 10px 21px 10px 10px;
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #909090;

    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}

@include media(600) {
  .popup .close-popup {
    margin: 0;
  }

  .popup-content {
    gap: 30px;
    max-width: 100%;
    width: 100%;
  }

  .popup-content__img-wrapper {
    gap: 20px;
  }

  .popup-content__img-wrapper {
    img {
      width: 60px;
    }
  }

  .popup .table-sizes td {
    font-size: 12px;
  }

  .popup.payment-popup .payment-popup__price {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }
}

