.popup {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s;
  background: rgba(20, 22, 24, 0.4);

  &._is-open {
    opacity: 1;
    z-index: 9999;
  }
}


