<div class="popup" data-popup="popup">
    <div class="popup-wrapper">
        <div class="popup-content">
            <div class="popup-close button-close">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 18L18 2" stroke="#0A0829" />
                    <path d="M18 18L2 2" stroke="#0A0829" />
                </svg>
            </div>

            <div class="popup-title">

            </div>

            <div class="popup-text">

            </div>

        </div>

    </div>
</div>
