// =====================================================================================================================
.header {
  width: 100%;
  background: blue;

  &.sticky {
    // ..стили для липкого хедера
  }

  // .header__container
  &__container {

    display: flex;
    align-items: center;
  }
}
// =====================================================================================================================

// Burger

.icon-menu {
  display: none;
  background: transparent;

  @include media(767) {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 300ms ease 0ms;
      right: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - 1px);
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
      }
    }
  }
}

