select.native-select {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.custom-select-wrapper {
  position: relative;
}

.custom-select {
  position: relative;
  font-family: sans-serif;
  user-select: none;
}

.custom-select__selected {
  position: relative;
  padding: 29px 0 7px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.40);
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
  font-family: 'Onest', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.custom-select__selected::after {
  content: '';
  right: 14px;
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
  pointer-events: none;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M15 7.99976L10.0503 12.9495C8.87868 14.1211 6.97919 14.1211 5.80761 12.9495L0.857866 7.99976" stroke="white" stroke-width="2"/></svg>');
}

.custom-select.open .custom-select__selected::after {
  transform: rotate(180deg);
}

.custom-select__options {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  border-top: none;
  background: #1D2A4F;
  z-index: 2;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 10px;

  &::-webkit-scrollbar {
    width: 3px;
  }
}

.custom-select__option {
  padding-bottom: 5px;
  cursor: pointer;
  color: #FFF;
  font-family: 'Onest', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.custom-select.open .custom-select__options {
  display: block;
}
