select[hidden] {
  display: block !important;
  position: absolute !important;
  opacity: 0 !important;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.custom-select-wrapper {
  position: relative;
}

.custom-select {
  position: relative;
  font-family: sans-serif;
  user-select: none;
}

.custom-select__selected {
  position: relative;
  padding: 10px 40px 10px 14px;
  border: 1px solid #1e1e1e;
  background: #fff;
  cursor: pointer;
}

.custom-select__selected::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
  width: 11px;
  height: 6px;
  transition: transform 0.3s ease;
  pointer-events: none;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,<svg width="11" height="6" viewBox="0 0 11 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.99929 0.411067L5.5892 4.99923L1.00104 0.589135" stroke="%231E1E1E" /></svg>');
}

.custom-select.open .custom-select__selected::after {
  transform: rotate(180deg);
}

.custom-select__options {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
}

.custom-select__option {
  padding: 10px 14px;
  cursor: pointer;
}

.custom-select__option:hover {
  background-color: #f0f0f0;
}

.custom-select.open .custom-select__options {
  display: block;
}
