<div class="cookies-banner" data-cookies-banner>
  <div class="cookies-banner__content">
    <div class="cookies-banner__info">
      <div class="cookies-banner__text">
        Мы используем файлы cookies для обеспечения работы сайта и улучшения
        пользовательского опыта. Нажимая «Принять все», вы соглашаетесь на
        использование cookies и обработку данных согласно
        <a href="#">Политике конфиденциальности</a>.
      </div>
      <button class="cookies-banner__close js-cookies-banner-hide">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
        >
          <path d="M4 28L28 4" stroke="currentColor" stroke-width="4" />
          <path d="M28 28L4 4" stroke="currentColor" stroke-width="4" />
        </svg>
      </button>
    </div>
    <div class="cookies-banner__buttons">
      <button href="#" class="btn btn-blue js-cookies-banner-hide js-cookies-accept">
        Принять все
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
        >
          <path
            d="M6.66667 15.834L12.5 10.0007L6.66667 4.16732"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </button>
      <button class="btn btn-gray js-cookies-banner-hide" data-type="cookies-popup">
        Настроить
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
        >
          <path
            d="M6.66667 15.834L12.5 10.0007L6.66667 4.16732"
            stroke="#004C97"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </button>
      <button class="btn btn-gray js-cookies-banner-hide js-cookies-declain">
        Отклонить
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
        >
          <path
            d="M6.66667 15.834L12.5 10.0007L6.66667 4.16732"
            stroke="#004C97"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</div>
