html {
  scrollbar-gutter: stable;
}

body {
  &.lock {
    overflow: hidden;
    touch-action: none;
  }
}
// Базовые анимации:
// @import "keyframes";

// Стили для полноэкранного блока:
// @import "fullscreen";

// Стили основного ограничивающего контейнера =================================
/*
* (i) Стили будут применяться ко
* всем классам содержащим *__container
* Например header__container, main__container и т.д.
*/
[class*='__container'] {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 $mainOffset;
}

// Оболочка ===================================================================
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden; // clip - если используется в проекте position: sticky
}

.page {
  position: relative;
  flex: 1 1 auto;

  [data-observ] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    pointer-events: none;
  }

  &_start {
    padding-top: $headerHeight;
  }
}

*:hover {
  transition: all $animation-duration ease;
}

svg {
  overflow: visible;
}
