.burger-menu {
  position: absolute;
  top: -100%;
  background: #fff;
  width: 100%;
  height: auto;
  padding-bottom: 60px;
  transition: $standartTrans;
  display: none;
  z-index: -1;

  @include media(1200) {
    display: block;
  }

  @include media(600) {
    padding-bottom: 100px;
    min-height: 100vh;
  }

  @include media(350) {
    top: -180%;
  }

  &._is-open {
    z-index: 999;
    top: 0;
  }

  &-wrapper {
    padding: 20px;
  }

  &-head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &-logo {
    font-weight: 400;
    font-size: 80px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #262626;
  }

  &-content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
